 /* Top Nav */ 
 .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.about {
  background-color: rgba(12, 240, 65, 0.5);
  color: white;
}

h1 {
  color: #04AA6D;
  text-align: center;
  padding: 14px 16px;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 45px;
}


.container {
  position: relative;
  width: 65%;
}
h2 {
  color: #04AA6D;
  text-align: center;
  padding: 14px 16px;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: .8;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}